.flashlight-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: background 0.2s;
  z-index: 800;
}

.light-active {
  // pointer-events: auto;
}
.flashlight-hint {
  position: fixed;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.4s;
  z-index: 9999;
  pointer-events: none;
}
.flashlight-hint.visible {
  opacity: 1;
}

.flashlight-menu {
  position: fixed;
  z-index: 10000;
  background: #222;
  color: white;
  list-style: none;
  margin: 0;
  padding: 5px 0;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  min-width: 160px;
  font-size: 14px;
}

.flashlight-menu.hidden {
  display: none;
}

.flashlight-menu li {
  padding: 8px 16px;
  cursor: pointer;
}

.flashlight-menu li:hover {
  background-color: #444;
}

.flashlight-menu select {
  margin-left: 10px;
  background: #333;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 4px;
}
.flashlight-hint.visible {
  opacity: 1;
}

.flashlight-overlay.full-dark {
  background: rgba(0, 0, 0, 1);
}

.flashlight-overlay.light-active {
  background: rgba(0, 0, 0, 0.329);
}

.flashlight-overlay.flicker {
  animation: flickerAnimation 0.1s infinite;
}

@keyframes flickerAnimation {
  0% {
    background: rgba(0, 0, 0, 0.911);
  }
  50% {
    background: rgba(255, 255, 255, 1);
  }
  100% {
    background: rgba(0, 0, 0, 0.856);
  }
}

.flashlight-overlay.flashlight-active {
  background: radial-gradient(
    circle at var(--x, 50%) var(--y, 50%),
    transparent 550px,
    rgba(0, 0, 0, 0.842) 30px
  );
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.055);
  border: 2px solid #99d91d;
  border-radius: 50%;
  color: #99d91d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.3s ease, visibility 0.3s ease,
    background-color 0.3s ease, transform 0.3s ease;

  svg {
    width: 24px;
    height: 24px;
    stroke: var(--color1, white);
    transition: transform 0.3s ease;
  }

  &.show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &:hover {
    background-color: #99d91d;
    transform: scale(1.1);
    color: #1a3a64;
    border: 2px solid #1a3a64;

    svg {
      transform: translateY(-3px);
    }

    &:active {
      color: #89318c;
      border: 2px solid #89318c;
      transform: scale(0.95);
    }
  }
}
