<section id="benefits" class="section-right" data-benefits>
  <div class="container container-rf benefits-container">
    <h2 class="benefits-title">Benefits</h2>
    <ul class="benefits-list">
      <li class="benefits-item">
        <h3 class="benefits-title-item">Idle Tower Defense Fun:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m1-1x.jpg 1x,
              /img/benefits/benefic-m1-2x.jpg 2x
            "
            src="/img/benefits/benefic-m1-1x.png"
            alt="Idle Tower"
          />
          <p class="benefits-text">
            Build powerful defenses and watch your strategies unfold — even when
            you’re away!
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Strategic Gameplay:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m2-1x.jpg 1x,
              /img/benefits/benefic-m2-2x.jpg 2x
            "
            src="/img/benefits/benefic-m2-1x.jpg"
            alt="Strategic Gameplay"
          />
          <p class="benefits-text">
            Choose and upgrade towers, manage resources, and deploy skills
            wisely to fend off increasingly tricky foes.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Charming Storyline:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m3-1x.jpg 1x,
              /img/benefits/benefic-m3-2x.jpg 2x
            "
            src="/img/benefits/benefic-m3-1x.jpg"
            alt="Charming Storyline"
          />

          <p class="benefits-text">
            Follow the tale of Moo, Lulu, and the mystical Emerald Village as
            they uncover secrets of the enchanted valley.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Unique Enemy Types:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m4-1x.jpg 1x,
              /img/benefits/benefic-m4-2x.jpg 2x
            "
            src="/img/benefits/benefic-m4-1x.jpg"
            alt="Unique Enemy Types"
          />
          <p class="benefits-text">
            From sneaky shadow pixies to flying flame moths, prepare for battle
            against a variety of magical invaders.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Upgrade and Evolve:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m5-1x.jpg 1x,
              /img/benefits/benefic-m5-2x.jpg 2x
            "
            src="/img/benefits/benefic-m5-1x.jpg"
            alt="Upgrade and Evolve"
          />
          <p class="benefits-text">
            Level up your towers, unlock magical abilities, and enhance your
            heroes as you progress.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Gorgeous Visual Style:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m6-1x.jpg 1x,
              /img/benefits/benefic-m6-2x.jpg 2x
            "
            src="/img/benefits/benefic-m6-1x.jpg"
            alt="Gorgeous Visual Style"
          />
          <p class="benefits-text">
            Enjoy hand-painted fantasy environments and adorable yet fierce
            creatures.
          </p>
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-title-item">Offline Progress:</h3>
        <div class="item-wrapper">
          <img
            class="benefits-img"
            width="20"
            height="20"
            srcset="
              /img/benefits/benefic-m7-1x.jpg 1x,
              /img/benefits/benefic-m7-2x.jpg 2x
            "
            src="/img/benefits/benefic-m7-1x.jpg"
            alt="Offline Progress"
          />
          <p class="benefits-text">
            The valley fights on even when you’re offline — come back to rewards
            and progress.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
