<section id="gallery" class="section-left">
  <div class="container gallery-container">

      <h2 class="gallery-title">Gallery</h2>
    
    <!-- <img
      class="gallery-icon"
      src="/img/monstr4.webp"
      alt="monstr4"
      width="20"
      height="20"
    /> -->
    <div class="container-gallery">
      <div id="gallery-swiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <!-- mobile -->
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/gallery/1gallery-mobile.webp   1x,
                  /img/gallery/1gallery-mobile2x.webp 2x
                "
              />
              <!-- Destkop -->
              <source
                media="(min-width: 769px)"
                srcset="
                  /img/gallery/1gallery-desktop.webp   1x,
                  /img/gallery/1gallery-desktop2x.webp 2x
                "
              />
              <img
                class="img-gallery"
                src="/img/gallery/1gallery-mobile.webp"
                alt="img-gallery"
                width="20"
                height="20"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- mobile -->
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/gallery/2gallery-mobile.webp   1x,
                  /img/gallery/2gallery-mobile2x.webp 2x
                "
              />
              <!-- Destkop -->
              <source
                media="(min-width: 769px)"
                srcset="
                  /img/gallery/2gallery-desktop.webp   1x,
                  /img/gallery/2gallery-desktop2x.webp 2x
                "
              />
              <img
                class="img-gallery"
                src="/img/gallery/2gallery-mobile.webp"
                alt="img-gallery"
                width="20"
                height="20"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- mobile -->
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/gallery/3gallery-mobile.webp   1x,
                  /img/gallery/3gallery-mobile2x.webp 2x
                "
              />
              <!-- Destkop -->
              <source
                media="(min-width: 769px)"
                srcset="
                  /img/gallery/3gallery-desktop.webp   1x,
                  /img/gallery/3gallery-desktop2x.webp 2x
                "
              />
              <img
                class="img-gallery"
                src="/img/gallery/3gallery-mobile.webp"
                alt="img-gallery"
                width="20"
                height="20"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- mobile -->
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/gallery/4gallery-mobile.webp   1x,
                  /img/gallery/4gallery-mobile2x.webp 2x
                "
              />
              <!-- Destkop -->
              <source
                media="(min-width: 769px)"
                srcset="
                  /img/gallery/4gallery-desktop.webp   1x,
                  /img/gallery/4gallery-desktop2x.webp 2x
                "
              />
              <img
                class="img-gallery"
                src="/img/gallery/4gallery-mobile.webp"
                alt="img-gallery"
                width="20"
                height="20"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <!-- mobile -->
              <source
                media="(max-width: 768px)"
                srcset="
                  /img/gallery/5gallery-mobile.webp   1x,
                  /img/gallery/5gallery-mobile2x.webp 2x
                "
              />
              <!-- Destkop -->
              <source
                media="(min-width: 769px)"
                srcset="
                  /img/gallery/5gallery-desktop.webp   1x,
                  /img/gallery/5gallery-desktop2x.webp 2x
                "
              />
              <img
                class="img-gallery"
                src="/img/gallery/5gallery-mobile.webp"
                alt="img-gallery"
                width="20"
                height="20"
              />
            </picture>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
