<section id="reviews" class="reviewes-section">
  <div class="reviewes-container">
    <h2 class="reviewes-title">Reviewes</h2>
    <img
      class="reviewes-img"
      src="/img/reviewes/reviewes-monstr.png"
      alt="Monstr"
    />
    <div class="reviewes-slider-container">
      <div class="swiper reviewes-slider">
        <ul class="swiper-wrapper reviewes-slider-list"></ul>
        <div class="swiper-pagination reviewes-slider-pagination"></div>
      </div>
    </div>
  </div>
</section>
