#gallery {
  position: relative;

  // background-image: url('/img/flashlight-mob.png');
  // background-position: calc((100% + 320px) / 2 - 30px) -20px;
  // background-repeat: no-repeat;
  // background-size: auto 150px;
  // transform: rotate(0.81deg);

  // @include media(desktop) {
  //   background-image: url('/img/flashlight-desk.png');
  //   background-position: -25px -15px;
  //   background-size: auto 220px;
  // }
}

//Flash mob
.gallery-container {
  padding-top: 50px;
}
#gallery::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../img/main-characters/main-characters-flashlight-mob.png');
  background-repeat: no-repeat;
  background-position: -60px -17px;
  background-size: auto 250px;
  z-index: -1;
}

@media only screen and (min-width: 1200px) {
  //Flash desk
  #gallery::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/main-characters/main-characters-flashlight-desk.png');
    background-repeat: no-repeat;
    background-position: -113px 25px;
    background-size: auto;
  }
}

.title-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-right: -14.17px;
  justify-content: right;
}

.gallery-icon {
  position: absolute;
  top: 50px;
  right: 0;
  width: 44.71px;
  height: 37.53px;
  //   left: calc(100% + 19px);
  //   top: -14.17px;
  transform: translate(17.68px, 14.17px) rotate(0.81deg);

  @include media(desktop) {
    top: 100px;
    width: 97px;
    height: 81px;
    right: -15px;
  }
}

// top: 55px;
// left: -30px;
// width: 54px;

// .container0 {
//   max-width: 100%;
//   padding-left: 0;
//   padding-right: 0;
// }

.container-gallery {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    padding-left: 0;
  }
}

.gallery-title {
  text-align: right;
  margin-bottom: 80px;
  @include media(desktop) {
    margin-right: 35px;
    padding-right: 20px;
    margin-bottom: 135.29px;
  }
}
// .gallery-icon {
//   position: relative;
//   width: 44.71px;
//   top: -122.33px;
//   right: -21.68px;
//   margin-top: -14.17px;
//   transform: rotate(-0.81deg);
//   @include media(desktop) {
//     width: 96.87px;
//     height: 81.3px;
//     top: 4150.91px;
//     right: 79.24px;
//     transform: rotate(17.99deg);
//   }
// }
.img-gallery {
  width: 323px;
  height: 431px;
  border: 1.47px solid #000000;
  border-radius: 7px;
  @include media(desktop) {
    width: 423px;
    height: 564px;
    border: 2px solid #000000;
    border-radius: 10px;
  }
}

#gallery-swiper .swiper {
  width: 100%;
  height: 100%;
}

#gallery-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  height: 420px;

  @include media(desktop) {
    height: 574px;
  }
}
#gallery-swiper .swiper-slide-active .img-gallery {
  border: 3px solid #f4ec8a;
}

#gallery-swiper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

#gallery-swiper .swiper-pagination {
  text-align: center;
}

#gallery-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 9px;
  height: 9px;
  background-color: #ffe066;
}

#gallery-swiper .swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
}
