#game-description {
  position: relative;
}

//Flash mob
// .game-description-container {
//   padding-top: 60px;
// }
// #game-description::before {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: url('../img/main-characters/main-characters-flashlight-mob.png');
//   background-position: center top;
//   background-repeat: no-repeat;
//   background-position: -60px -7px;
//   background-size: auto 250px;
//   z-index: -1;
// }

@media only screen and (min-width: 1200px) {
  //Flash desk
  // .game-description-container {
  //   padding-top: 120px;
  // }
}
//   #game-description::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background: url('../img/main-characters/main-characters-flashlight-desk.png');
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-position: -113px 90px;
//     background-size: auto;
//   }
// }

// .flashlight-container {
//   background-image: url('/img/flashlight.webp');
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   height: 150px;
//   width: 100vw;
//   opacity: 0.8;
//   transform: rotate(173.99deg) translate(10px, -130px);
//   margin-left: calc(-1 * ((100vw - 100%) / 2));
//   margin: 0, auto;
//   @include media(desktop) {
//     background-size: 1%;
//   }
// }

// .flashlight-container:hover {
//   transform-origin: left right;
//   transform: rotate(-140deg) translate(-90px, -210px);
// }

.flashlight-img {
  display: block;
  width: 100%;
  //   height: auto;
}

// .description-icon {
//   width: 45.98px;
//   height: 35.5px;
//   display: block;
//   transform: rotate(-19.63deg) translate(0, -20px);
//   transition: transform 0.3s ease;
//   position: relative;
//   right: -20px;
//   margin-left: auto;
//   margin-right: -20px;
// }

.description-icon {

  transform: rotate(19.63deg) translate(-38px, 20px);

  width: 45.98px;
  height: 35.5px;
  top: 73px;
  right: -18px;
  // transform: rotate(19.63deg) translate(-38px, 20px);


  @include media(desktop) {
    width: 98.98px;
    height: 76.42px;
    top: 150px;
    right: -40px;
    // transform: rotate(19.63deg);
  }
}

.container {
  // padding-left: 14.68px;
  margin-right: -1.32;
}

.game-title {
  padding-right: 1.32px;
  padding-bottom: 69px;
  text-align: right;

  @include media(desktop) {
    margin-bottom: 170px;
  }
}

.game-wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 3px;

  @include media(desktop) {
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }
}

.tumb-game {
  display: block;
  max-width: 289.31px;
  height: 188px;
  margin-bottom: 30px;

  @include media(desktop) {
    max-width: 544.78px;
    height: 354px;
    top: 35px;
    left: 57px;
    transform: rotate(0deg);
    order: 2;
    margin-bottom: 0;
  }
}

.tumb-game:hover {
  transform: rotate(3deg);
  @include media(desktop) {
    transform: rotate(-5.5deg);
  }
}

.text-wrapper {
  @include media(desktop) {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.img-description {
  width: 100%;
}

.description-text {
  max-width: 288px;
  font-weight: 400;
  line-height: 22px;

  @include media(desktop) {
    max-width: 552px;
    font-weight: 400;
    line-height: 30px;
  }
}
