header {
  background-color: $_header_color;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  z-index: 999;
}

[header-container] {
  @include container;
}

[data-menu] {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    justify-content: center;
    gap: 25px;
  }
}

@include media(desktop) {
  [data-logo-img] {
    width: 60px;
  }
}

[data-nav-list] {
  background-color: $_header_color;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 80px;
  padding-left: 52px;
  padding-right: 92px;

  @include media(desktop) {
    position: static;
    height: auto;
    flex-direction: row;
    gap: 12px;
    padding: 18.5px 0;
  }
}

@include media(desktop) {
  [data-item-list] {
    padding: 0 5.5px;
  }
}

.nav-link {
  font-weight: 500;
}

.nav-link:hover {
  color: $_link_hover_color;
}

.nav-link:active {
  color: $_link_active_color;
}

// .nav-link:hover,
// .nav-link:focus {
//   color: $_header_accent_color;
// }

// .burger-btn,
// .btn-close {
//   padding: 0.5em 0.8em;
//   font-size: 1rem;
//   background-color: blueviolet;
//   border: none;
//   border-radius: 0.5em;
//   color: #fff;
// }

[data-burger] {
  color: $_main_color;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  font-family: 'Material Icons', sans-serif;
  font-size: 20px;
  cursor: pointer;

  @include media(desktop) {
    display: none;
  }
}

[data-burger='false']::before {
  content: 'menu';
}

[data-burger='true']::before {
  content: '\00D7';
}

.burger-menu {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  width: 150px;
  padding: 8px;
  position: absolute;
  top: 0;
  right: 0;
}

.btn-close {
  align-self: baseline;
  padding: 4px;
}

[data-visible='open'] {
  display: flex;
}

[data-visible='close'] {
  display: none;
}
