@import './common/breakpoints';
@import './common/mixins';
@import './common/reset';
@import './common/vars';
@import './header';
@import './pages/cookies-policy';
@import './pages/home';
@import './pages/privacy-policy';
@import './pages/terms-сonditions';
@import './extrablocks';
@import './footer';
@import './gallery';
@import './game-description';
@import './key-feautures';
@import './main-characters';
@import './main-cookies';
@import './main-mobile-menu';

:root {
  /* Font families */
  --font-main: 'Jura', sans-serif;
  --font-decor: 'Coiny', sans-serif;
  --font-ui: 'Montserrat', sans-serif;

  /* Font weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Font sizes */
  --h1-size: 80px;
  --h2-size: 50px;
  --text-size: 20px;
}

body {
  background: linear-gradient(to right, #1a3a64 1%, #209887 100%);
}
